*.class
infomore-core/.classpath
infomore-core/.settings/org.eclipse.jdt.core.prefs
infomore-core/.settings/org.eclipse.wst.common.project.facet.core.xml
infomore-core/bin/.gitignore

infomore-dominio/.classpath
infomore-dominio/.settings/org.eclipse.jdt.core.prefs
infomore-dominio/.settings/org.eclipse.wst.common.project.facet.core.xml
infomore-dominio/bin/.gitignore

infomore-web/.classpath
infomore-web/.settings/org.eclipse.jdt.core.prefs
infomore-web/build/classes/.gitignore

Novo Documento de Texto.txt
