.label{
	font-size: 14px;
	font-weight: bolder;
}


.espacamento-container{
	padding-top: 10px;	
}

.espacamento-botoes{
	padding-top: 30px;	
}

.botao-salvar {
	background-color: #DE2E76;
	padding-left: 18px;
	margin-right: 25px;
	
}

.botao-cancelar{
	padding-left: 25px;
	background-color: #2faaab;
	color: #FFF;
}

.tabela{
	padding-left: 45px;
}

