.detalhes-modal {
	background: url("../images/background_infomore.png") no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.espacamento-botoes {
	padding-top: 30px;
}

.botao-voltar {
	padding-left: 25px;
	background-color: #2faaab;
	color: #FFF;
}

.botao-comparacao {
	width: 230px;
	padding-left: 25px;
	background-color: #DE2E76;
	color: #FFF;
}

.icone-detalhes {
	color: #CCC;
	text-shadow: 0px 1px black;
}

.tabela>thead {
	border-bottom: 1px solid;
	border-color: #000;
}

.tabela>tbody {
	border-bottom: 1px solid;
	border-color: #000;
}

.icone {
	float: left;
}

.x {
	font-size: 18px;
	font-weight: bolder;
	text-shadow: 1px 1px #E0E0E0;
}

.nome-categoria {
	float: left;
	padding-left: 15px;
	padding-top: 3px; 
	color : black;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px #E0E0E0;
	color: black;
}

.total {
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px #E0E0E0;	
	padding-left: 50%;
}

.quantidade {
	font-size: 20px;
	font-weight: bolder;
	text-shadow: 1px 1px #E0E0E0;
}

img {
	float: left;
	padding-top: 5px;
}

.item-resultado{
	clear: both;
	border-top: thin;
	border-top-style: solid;
	border-top-color: black;
}

.chart{
	width: 95vw;
}

	
